.FlexCol {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.FlexRow {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}
